@charset "utf-8";
/* CSS Document */
body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input { margin: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei"; }
img { border: none }
input, button, textarea, select {
*font-size: 100%; border: none; }
body { background: #fff; color: #333; font: 14px/24px Microsoft YaHei, SimSun, Arial;overflow-x: hidden; }
ul, ol { list-style: none; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }/*默认a标签样式*/
a:hover,a{text-decoration: none;color:#444;}

.hide { display: none }
.show { display: block }/*表格table和td有边框*/
.boder_tl { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_tl td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_bl { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_bl td { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr td { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_br { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_br td { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.txt_center { text-align: center; }/*表格table和tr有边框*/
.boder_ltr_trborder { border: 1px solid #ccc; border-bottom: none; }
.boder_ltr_trborder tr { border-bottom: 1px solid #ccc; }

@media (min-width: 1200px){.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1200px !important;}}
@media  (min-width: 1024px) and (max-width: 1199px){.container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1110px;}}
@media  (min-width: 960px) and (max-width: 1023px){.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 960px;}}
@media  (min-width:768px) and (max-width: 960px){.container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 900px;}}@media  (min-width:540px) and (max-width: 768px){.container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 700px;}}
body{background:#E9EAED;}
/*声明字体*/
@font-face{
		font-family:'blog';
		src:url('/front/fonts/icomoon.eot?7kkyc2');
		src:url('/front/fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'),
		url('/front/fonts/icomoon.ttf?7kkyc2') format('truetype'),
	    url('/front/fonts/icomoon.woff?7kkyc2') format('woff'),
		url('/front/fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
		font-weight:normal;
		font-style:normal;
}